html{
    scroll-behavior: smooth;
}

body{
    background-color: #181818;
    padding: 0;
    margin: 0;
}

*{
    font-family: silkScreen;
    color: white;
}

a{
    text-decoration: none;
    color: black;
}

nav{
    background-color: black;
    width: 100%;
    height: 50px;
    padding-top: 0px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}

.main-heading{
    color: yellow;
}

span{
    color: yellow;
}

.navbar-ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 20px 0px 0px 0px;
    width: fit-content;
    height: fit-content;
    /* border-radius: 5px; */
    margin-right: 20%;
    margin-left: 10%;
    /* background-color: lightblue; */
    padding: 5px;
}

.navbar-li{
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    color: blue;
}

.navbar-li:hover{
    color: yellow;
}

.avatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 20px 0px 0px 10px;
    border: 5px solid yellow;
}

.logo{
    width: 30px;
    height: 30px;
    margin-top: 20px;
    margin-right: 10px;
}

.hero-section{
    width: 100%;
    height: 440px;
    background-image: url("/image.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
}

main{
    background-image: url("/pacman-emulate-section-2.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.hero-text{
    color: white;
    text-align: center;
    font-size: 60px;
}

.video-yt{
    border-radius: 10px;
    margin-left: 70px;
    margin-top: 70px;
}

.hero-text-div{
    display: flex;
    justify-content: center;
    width: 100%;
    height: fit-content;
    padding-top: 90px;
}

.button-div{
    width: 100%;
    height: fit-content;
    display: flex;
    padding-top: 0px;
    justify-content: center;
}

.get-started{
    width: 200px;
    height: 40px;
    text-align: center;
    padding-bottom: 2px;
    color: black;
    font-size: 20px;
    background-color: yellow;
    border-radius: 6px;
    border: 0;
    cursor: pointer;
    transition: scale 0.5s;
}

.get-started:hover{
    scale: 110%;
}

#emulate-game-div{
    width: 100%;
    height: 380px;
    background-image: url("/pacman-hero-1.jpg");
    background-size: cover;
    background-clip: border-box;
    background-attachment: fixed;
    background-position: top;
    margin-bottom: 0px;
    margin-top: 15%;
    display: flex;
    justify-content: center;
}

.emulate-game-text{
    font-size: 50px;
    margin-left: 0px;
    margin-bottom: 0;
    padding-top: 40px;
    color: deepskyblue;
}

.emulate-game-p{
    font-size: 20px;
    margin-top: 10px;
    margin-left: 30px;
    color: lightblue;
}

.emulate-game-text-div{
    display: flex;
    flex-direction: column;
}

.emulate-box{
    width: 570px;
    height: 330px;
    border-radius: 15px;
    background-color: #181818;
    margin-top: 25px;
    margin-left: 140px;
    display: flex;
    justify-content: center;
}

.emulate{
    width: 550px;
    height: 310px;
    border-radius: 15px;
    margin-top: 5px;
    border: 5px blue groove;
    display: flex;
    justify-content: center;
}

.emulate-box-text{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-top: 125px;
}